@import '../../node_modules/time-series-scroller/lib/out/sass/aux-functions';
$hpSliderWidthPx: 800px;
$hpSliderHeightPx: 80px;
$hpSliderHandleWidthPx: 15px;
$hpSliderBorderRadiusPx: 5px;

.hp-slider {
  position: relative;
}

.hp-slider-inner-border-rect {
  border: 1px solid gray;
  height: $hpSliderHeightPx;
  border-radius: $hpSliderBorderRadiusPx;
}

.hp-slider-handle {
  background-color: navy;
  opacity: 0.25;
  height: $hpSliderHeightPx;
  transition: opacity 200ms;

  &:hover {
    opacity: 0.35;
  }
}

.hp-slider-handle-right {
  border-top-right-radius: $hpSliderBorderRadiusPx;
  border-bottom-right-radius: $hpSliderBorderRadiusPx;
}

.hp-slider-handle-left {
  border-top-left-radius: $hpSliderBorderRadiusPx;
  border-bottom-left-radius: $hpSliderBorderRadiusPx;
}

.hp-slider-handle-right:after,
.hp-slider-handle-left:after {
  content: "";
  top: 35px;
  color: #ffffff;
  opacity: .5;
  position: absolute;
  font-size: 20px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.hp-slider-handle-left:after {
  left: 4px;
  border-right: 8px solid transparent;
  border-left: 8px solid white;
}
.hp-slider-handle-right:after {
  right: 4px;
  border-right: 8px solid white;
  border-left: 8px solid transparent;
}

.hp-slider-handle-dragBar {
  background-color: cadetblue;
  opacity: 0.25;
}

.hpSliderHandle-pressed {
  background-color: red
}

:export {
  widthPx: strip-unit($hpSliderWidthPx);
  heightPx: strip-unit($hpSliderHeightPx);
  handleWidthPx: strip-unit($hpSliderHandleWidthPx);
}