.vscode/
build/
node_modules/
typings/
tmp/
npm-debug.log
.sw[a-z]
bundle.js
bundle.js.map
docker_build.sh
anomalies-frontend.yaml
dist/*.woff2
dist/*.woff
dist/*.svg
dist/*.ttf
dist/*.eot
package-lock.json
dist/
productionDist/
